spring:
  application:
    name: hr
  datasource:
    url: jdbc:postgresql://localhost:5433/thinkitive
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8083

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true

